# Aspectos básicos

In [45]:
# pip install pandas
# pip upgrade

import pandas as pd

In [46]:
# Importar datos

pokemon = pd.read_csv("PokemonData.csv")
#pokemon = pd.read_excel("/content/pokemon_data.xlsx")
#pokemon = pd.read_csv("/content/pokemon_data.txt", delimiter="\t")

pokemon

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,...,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,...,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,...,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,...,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,...,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,...,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,...,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,...,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,...,130,90,70,6,True

In [47]:
# Revisar tipo de dato

pokemon.dtypes

Num            int64
Name          object
Type1         object
Type2         object
HP             int64
               ...
SpAtk          int64
SpDef          int64
Speed          int64
Generation     int64
Legendary       bool
Length: 12, dtype: object

In [48]:
# Configurar máximo y mínimo de columnas o ancho

#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.width')
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

pokemon

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,...,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,...,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,...,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,...,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,...,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,...,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,...,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,...,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,...,130,90,70,6,True

# Lectura de datos

In [49]:
# Imprimir las primeras filas

pokemon.head()

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,...,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,...,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,...,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,...,60,50,65,1,False

In [50]:
# Imprimir las últimas filas

pokemon.tail(15)

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
785,711,GourgeistSmall Size,Ghost,Grass,55,...,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,75,...,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,85,...,58,75,54,6,False
788,712,Bergmite,Ice,NaN,55,...,32,35,28,6,False
789,713,Avalugg,Ice,NaN,95,...,44,46,28,6,False
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,...,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,...,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,...,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,...,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,...,130,90,70,6,True

In [51]:
# Ver los encabezados

pokemon.columns

Index(['Num', 'Name', 'Type1', 'Type2', 'HP', 'Attack', 'Defense', 'SpAtk',
       'SpDef', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [52]:
# Leer columna

#pokemon.Name
pokemon['Name'].head(1)

0    Bulbasaur
Name: Name, dtype: object

In [53]:
# Leer varias columnas

pokemon[['Name', 'HP', 'Legendary']].head(10)

                        Name  HP  Legendary
0                  Bulbasaur  45      False
1                    Ivysaur  60      False
2                   Venusaur  80      False
3      VenusaurMega Venusaur  80      False
4                 Charmander  39      False
5                 Charmeleon  58      False
6                  Charizard  78      False
7  CharizardMega Charizard X  78      False
8  CharizardMega Charizard Y  78      False
9                   Squirtle  44      False

In [54]:
# La sentencia iloc (integer location)
# Sintaxis [fila, columna]

pokemon.iloc[0]

Num                   1
Name          Bulbasaur
Type1             Grass
Type2            Poison
HP                   45
                ...
SpAtk                65
SpDef                65
Speed                45
Generation            1
Legendary         False
Name: 0, Length: 12, dtype: object

In [55]:
pokemon.iloc[15:27]

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
15,12,Butterfree,Bug,Flying,60,...,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,...,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,...,25,25,35,1,False
18,15,Beedrill,Bug,Poison,65,...,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,...,15,80,145,1,False
...,...,...,...,...,...,...,...,...,...,...,...
22,18,Pidgeot,Normal,Flying,83,...,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,...,135,80,121,1,False
24,19,Rattata,Normal,NaN,30,...,25,35,72,1,False
25,20,Raticate,Normal,NaN,55,...,50,70,97,1,False
26,21,Spearow,Normal,Flying,40,...,31,31,70,1,False

In [56]:
pokemon.iloc[15, 4]

60

In [57]:
for index, row in pokemon.iterrows():
  print(index, row[['Name', 'Type1']])

0 Name     Bulbasaur
Type1        Grass
Name: 0, dtype: object
1 Name     Ivysaur
Type1      Grass
Name: 1, dtype: object
2 Name     Venusaur
Type1       Grass
Name: 2, dtype: object
3 Name     VenusaurMega Venusaur
Type1                    Grass
Name: 3, dtype: object
4 Name     Charmander
Type1          Fire
Name: 4, dtype: object
5 Name     Charmeleon
Type1          Fire
Name: 5, dtype: object
6 Name     Charizard
Type1         Fire
Name: 6, dtype: object
7 Name     CharizardMega Charizard X
Type1                         Fire
Name: 7, dtype: object
8 Name     CharizardMega Charizard Y
Type1                         Fire
Name: 8, dtype: object
9 Name     Squirtle
Type1       Water
Name: 9, dtype: object
10 Name     Wartortle
Type1        Water
Name: 10, dtype: object
11 Name     Blastoise
Type1        Water
Name: 11, dtype: object
12 Name     BlastoiseMega Blastoise
Type1                      Water
Name: 12, dtype: object
13 Name     Caterpie
Type1         Bug
Name: 13, dtype: object
14 Name     Metapod
Type1        Bug
Name: 14, dtype: object
15 Name     Butterfree
Type1           Bug
Name: 15, dtype: object
16 Name     Weedle
Type1       Bug
Name: 16, dtype: object
17 Name     Kakuna
Type1       Bug
Name: 17, dtype: object
18 Name     Beedrill
Type1         Bug
Name: 18, dtype: object
19 Name     BeedrillMega Beedrill
Type1                      Bug
Name: 19, dtype: object
20 Name     Pidgey
Type1    Normal
Name: 20, dtype: object
21 Name     Pidgeotto
Type1       Normal
Name: 21, dtype: object
22 Name     Pidgeot
Type1     Normal
Name: 22, dtype: object
23 Name     PidgeotMega Pidgeot
Type1                 Normal
Name: 23, dtype: object
24 Name     Rattata
Type1     Normal
Name: 24, dtype: object
25 Name     Raticate
Type1      Normal
Name: 25, dtype: object
26 Name     Spearow
Type1     Normal
Name: 26, dtype: object
27 Name     Fearow
Type1    Normal
Name: 27, dtype: object
28 Name      Ekans
Type1    Poison
Name: 28, dtype: object
29 Name      Arbok
Type1    Poison
Name: 29, dtype: object
30 Name      Pikachu
Type1    Electric
Name: 30, dtype: object
31 Name       Raichu
Type1    Electric
Name: 31, dtype: object
32 Name     Sandshrew
Type1       Ground
Name: 32, dtype: object
33 Name     Sandslash
Type1       Ground
Name: 33, dtype: object
34 Name     Nidoranâ™€
Type1        Poison
Name: 34, dtype: object
35 Name     Nidorina
Type1      Poison
Name: 35, dtype: object
36 Name     Nidoqueen
Type1       Poison
Name: 36, dtype: object
37 Name     Nidoranâ™‚
Type1        Poison
Name: 37, dtype: object
38 Name     Nidorino
Type1      Poison
Name: 38, dtype: object
39 Name     Nidoking
Type1      Poison
Name: 39, dtype: object
40 Name     Clefairy
Type1       Fairy
Name: 40, dtype: object
41 Name     Clefable
Type1       Fairy
Name: 41, dtype: object
42 Name     Vulpix
Type1      Fire
Name: 42, dtype: object
43 Name     Ninetales
Type1         Fire
Name: 43, dtype: object
44 Name     Jigglypuff
Type1        Normal
Name: 44, dtype: object
45 Name     Wigglytuff
Type1        Normal
Name: 45, dtype: object
46 Name      Zubat
Type1    Poison
Name: 46, dtype: object
47 Name     Golbat
Type1    Poison
Name: 47, dtype: object
48 Name     Oddish
Type1     Grass
Name: 48, dtype: object
49 Name     Gloom
Type1    Grass
Name: 49, dtype: object
50 Name     Vileplume
Type1        Grass
Name: 50, dtype: object
51 Name     Paras
Type1      Bug
Name: 51, dtype: object
52 Name     Parasect
Type1         Bug
Name: 52, dtype: object
53 Name     Venonat
Type1        Bug
Name: 53, dtype: object
54 Name     Venomoth
Type1         Bug
Name: 54, dtype: object
55 Name     Diglett
Type1     Ground
Name: 55, dtype: object
56 Name     Dugtrio
Type1     Ground
Name: 56, dtype: object
57 Name     Meowth
Type1    Normal
Name: 57, dtype: object
58 Name     Persian
Type1     Normal
Name: 58, dtype: object
59 Name     Psyduck
Type1      Water
Name: 59, dtype: object
60 Name     Golduck
Type1      Water
Name: 60, dtype: object
61 Name       Mankey
Type1    Fighting
Name: 61, dtype: object
62 Name     Primeape
Type1    Fighting
Name: 62, dtype: object
63 Name     Growlithe
Type1         Fire
Name: 63, dtype: object
64 Name     Arcanine
Type1        Fire
Name: 64, dtype: object
65 Name     Poliwag
Type1      Water
Name: 65, dtype: object
66 Name     Poliwhirl
Type1        Water
Name: 66, dtype: object
67 Name     Poliwrath
Type1        Water
Name: 67, dtype: object
68 Name        Abra
Type1    Psychic
Name: 68, dtype: object
69 Name     Kadabra
Type1    Psychic
Name: 69, dtype: object
70 Name     Alakazam
Type1     Psychic
Name: 70, dtype: object
71 Name     AlakazamMega Alakazam
Type1                  Psychic
Name: 71, dtype: object
72 Name       Machop
Type1    Fighting
Name: 72, dtype: object
73 Name      Machoke
Type1    Fighting
Name: 73, dtype: object
74 Name      Machamp
Type1    Fighting
Name: 74, dtype: object
75 Name     Bellsprout
Type1         Grass
Name: 75, dtype: object
76 Name     Weepinbell
Type1         Grass
Name: 76, dtype: object
77 Name     Victreebel
Type1         Grass
Name: 77, dtype: object
78 Name     Tentacool
Type1        Water
Name: 78, dtype: object
79 Name     Tentacruel
Type1         Water
Name: 79, dtype: object
80 Name     Geodude
Type1       Rock
Name: 80, dtype: object
81 Name     Graveler
Type1        Rock
Name: 81, dtype: object
82 Name     Golem
Type1     Rock
Name: 82, dtype: object
83 Name     Ponyta
Type1      Fire
Name: 83, dtype: object
84 Name     Rapidash
Type1        Fire
Name: 84, dtype: object
85 Name     Slowpoke
Type1       Water
Name: 85, dtype: object
86 Name     Slowbro
Type1      Water
Name: 86, dtype: object
87 Name     SlowbroMega Slowbro
Type1                  Water
Name: 87, dtype: object
88 Name     Magnemite
Type1     Electric
Name: 88, dtype: object
89 Name     Magneton
Type1    Electric
Name: 89, dtype: object
90 Name     Farfetch'd
Type1        Normal
Name: 90, dtype: object
91 Name      Doduo
Type1    Normal
Name: 91, dtype: object
92 Name     Dodrio
Type1    Normal
Name: 92, dtype: object
93 Name      Seel
Type1    Water
Name: 93, dtype: object
94 Name     Dewgong
Type1      Water
Name: 94, dtype: object
95 Name     Grimer
Type1    Poison
Name: 95, dtype: object
96 Name        Muk
Type1    Poison
Name: 96, dtype: object
97 Name     Shellder
Type1       Water
Name: 97, dtype: object
98 Name     Cloyster
Type1       Water
Name: 98, dtype: object
99 Name     Gastly
Type1     Ghost
Name: 99, dtype: object
100 Name     Haunter
Type1      Ghost
Name: 100, dtype: object
101 Name     Gengar
Type1     Ghost
Name: 101, dtype: object
102 Name     GengarMega Gengar
Type1                Ghost
Name: 102, dtype: object
103 Name     Onix
Type1    Rock
Name: 103, dtype: object
104 Name     Drowzee
Type1    Psychic
Name: 104, dtype: object
105 Name       Hypno
Type1    Psychic
Name: 105, dtype: object
106 Name     Krabby
Type1     Water
Name: 106, dtype: object
107 Name     Kingler
Type1      Water
Name: 107, dtype: object
108 Name      Voltorb
Type1    Electric
Name: 108, dtype: object
109 Name     Electrode
Type1     Electric
Name: 109, dtype: object
110 Name     Exeggcute
Type1        Grass
Name: 110, dtype: object
111 Name     Exeggutor
Type1        Grass
Name: 111, dtype: object
112 Name     Cubone
Type1    Ground
Name: 112, dtype: object
113 Name     Marowak
Type1     Ground
Name: 113, dtype: object
114 Name     Hitmonlee
Type1     Fighting
Name: 114, dtype: object
115 Name     Hitmonchan
Type1      Fighting
Name: 115, dtype: object
116 Name     Lickitung
Type1       Normal
Name: 116, dtype: object
117 Name     Koffing
Type1     Poison
Name: 117, dtype: object
118 Name     Weezing
Type1     Poison
Name: 118, dtype: object
119 Name     Rhyhorn
Type1     Ground
Name: 119, dtype: object
120 Name     Rhydon
Type1    Ground
Name: 120, dtype: object
121 Name     Chansey
Type1     Normal
Name: 121, dtype: object
122 Name     Tangela
Type1      Grass
Name: 122, dtype: object
123 Name     Kangaskhan
Type1        Normal
Name: 123, dtype: object
124 Name     KangaskhanMega Kangaskhan
Type1                       Normal
Name: 124, dtype: object
125 Name     Horsea
Type1     Water
Name: 125, dtype: object
126 Name     Seadra
Type1     Water
Name: 126, dtype: object
127 Name     Goldeen
Type1      Water
Name: 127, dtype: object
128 Name     Seaking
Type1      Water
Name: 128, dtype: object
129 Name     Staryu
Type1     Water
Name: 129, dtype: object
130 Name     Starmie
Type1      Water
Name: 130, dtype: object
131 Name     Mr. Mime
Type1     Psychic
Name: 131, dtype: object
132 Name     Scyther
Type1        Bug
Name: 132, dtype: object
133 Name     Jynx
Type1     Ice
Name: 133, dtype: object
134 Name     Electabuzz
Type1      Electric
Name: 134, dtype: object
135 Name     Magmar
Type1      Fire
Name: 135, dtype: object
136 Name     Pinsir
Type1       Bug
Name: 136, dtype: object
137 Name     PinsirMega Pinsir
Type1                  Bug
Name: 137, dtype: object
138 Name     Tauros
Type1    Normal
Name: 138, dtype: object
139 Name     Magikarp
Type1       Water
Name: 139, dtype: object
140 Name     Gyarados
Type1       Water
Name: 140, dtype: object
141 Name     GyaradosMega Gyarados
Type1                    Water
Name: 141, dtype: object
142 Name     Lapras
Type1     Water
Name: 142, dtype: object
143 Name      Ditto
Type1    Normal
Name: 143, dtype: object
144 Name      Eevee
Type1    Normal
Name: 144, dtype: object
145 Name     Vaporeon
Type1       Water
Name: 145, dtype: object
146 Name      Jolteon
Type1    Electric
Name: 146, dtype: object
147 Name     Flareon
Type1       Fire
Name: 147, dtype: object
148 Name     Porygon
Type1     Normal
Name: 148, dtype: object
149 Name     Omanyte
Type1       Rock
Name: 149, dtype: object
150 Name     Omastar
Type1       Rock
Name: 150, dtype: object
151 Name     Kabuto
Type1      Rock
Name: 151, dtype: object
152 Name     Kabutops
Type1        Rock
Name: 152, dtype: object
153 Name     Aerodactyl
Type1          Rock
Name: 153, dtype: object
154 Name     AerodactylMega Aerodactyl
Type1                         Rock
Name: 154, dtype: object
155 Name     Snorlax
Type1     Normal
Name: 155, dtype: object
156 Name     Articuno
Type1         Ice
Name: 156, dtype: object
157 Name       Zapdos
Type1    Electric
Name: 157, dtype: object
158 Name     Moltres
Type1       Fire
Name: 158, dtype: object
159 Name     Dratini
Type1     Dragon
Name: 159, dtype: object
160 Name     Dragonair
Type1       Dragon
Name: 160, dtype: object
161 Name     Dragonite
Type1       Dragon
Name: 161, dtype: object
162 Name      Mewtwo
Type1    Psychic
Name: 162, dtype: object
163 Name     MewtwoMega Mewtwo X
Type1                Psychic
Name: 163, dtype: object
164 Name     MewtwoMega Mewtwo Y
Type1                Psychic
Name: 164, dtype: object
165 Name         Mew
Type1    Psychic
Name: 165, dtype: object
166 Name     Chikorita
Type1        Grass
Name: 166, dtype: object
167 Name     Bayleef
Type1      Grass
Name: 167, dtype: object
168 Name     Meganium
Type1       Grass
Name: 168, dtype: object
169 Name     Cyndaquil
Type1         Fire
Name: 169, dtype: object
170 Name     Quilava
Type1       Fire
Name: 170, dtype: object
171 Name     Typhlosion
Type1          Fire
Name: 171, dtype: object
172 Name     Totodile
Type1       Water
Name: 172, dtype: object
173 Name     Croconaw
Type1       Water
Name: 173, dtype: object
174 Name     Feraligatr
Type1         Water
Name: 174, dtype: object
175 Name     Sentret
Type1     Normal
Name: 175, dtype: object
176 Name     Furret
Type1    Normal
Name: 176, dtype: object
177 Name     Hoothoot
Type1      Normal
Name: 177, dtype: object
178 Name     Noctowl
Type1     Normal
Name: 178, dtype: object
179 Name     Ledyba
Type1       Bug
Name: 179, dtype: object
180 Name     Ledian
Type1       Bug
Name: 180, dtype: object
181 Name     Spinarak
Type1         Bug
Name: 181, dtype: object
182 Name     Ariados
Type1        Bug
Name: 182, dtype: object
183 Name     Crobat
Type1    Poison
Name: 183, dtype: object
184 Name     Chinchou
Type1       Water
Name: 184, dtype: object
185 Name     Lanturn
Type1      Water
Name: 185, dtype: object
186 Name        Pichu
Type1    Electric
Name: 186, dtype: object
187 Name     Cleffa
Type1     Fairy
Name: 187, dtype: object
188 Name     Igglybuff
Type1       Normal
Name: 188, dtype: object
189 Name     Togepi
Type1     Fairy
Name: 189, dtype: object
190 Name     Togetic
Type1      Fairy
Name: 190, dtype: object
191 Name        Natu
Type1    Psychic
Name: 191, dtype: object
192 Name        Xatu
Type1    Psychic
Name: 192, dtype: object
193 Name       Mareep
Type1    Electric
Name: 193, dtype: object
194 Name      Flaaffy
Type1    Electric
Name: 194, dtype: object
195 Name     Ampharos
Type1    Electric
Name: 195, dtype: object
196 Name     AmpharosMega Ampharos
Type1                 Electric
Name: 196, dtype: object
197 Name     Bellossom
Type1        Grass
Name: 197, dtype: object
198 Name     Marill
Type1     Water
Name: 198, dtype: object
199 Name     Azumarill
Type1        Water
Name: 199, dtype: object
200 Name     Sudowoodo
Type1         Rock
Name: 200, dtype: object
201 Name     Politoed
Type1       Water
Name: 201, dtype: object
202 Name     Hoppip
Type1     Grass
Name: 202, dtype: object
203 Name     Skiploom
Type1       Grass
Name: 203, dtype: object
204 Name     Jumpluff
Type1       Grass
Name: 204, dtype: object
205 Name      Aipom
Type1    Normal
Name: 205, dtype: object
206 Name     Sunkern
Type1      Grass
Name: 206, dtype: object
207 Name     Sunflora
Type1       Grass
Name: 207, dtype: object
208 Name     Yanma
Type1      Bug
Name: 208, dtype: object
209 Name     Wooper
Type1     Water
Name: 209, dtype: object
210 Name     Quagsire
Type1       Water
Name: 210, dtype: object
211 Name      Espeon
Type1    Psychic
Name: 211, dtype: object
212 Name     Umbreon
Type1       Dark
Name: 212, dtype: object
213 Name     Murkrow
Type1       Dark
Name: 213, dtype: object
214 Name     Slowking
Type1       Water
Name: 214, dtype: object
215 Name     Misdreavus
Type1         Ghost
Name: 215, dtype: object
216 Name       Unown
Type1    Psychic
Name: 216, dtype: object
217 Name     Wobbuffet
Type1      Psychic
Name: 217, dtype: object
218 Name     Girafarig
Type1       Normal
Name: 218, dtype: object
219 Name     Pineco
Type1       Bug
Name: 219, dtype: object
220 Name     Forretress
Type1           Bug
Name: 220, dtype: object
221 Name     Dunsparce
Type1       Normal
Name: 221, dtype: object
222 Name     Gligar
Type1    Ground
Name: 222, dtype: object
223 Name     Steelix
Type1      Steel
Name: 223, dtype: object
224 Name     SteelixMega Steelix
Type1                  Steel
Name: 224, dtype: object
225 Name     Snubbull
Type1       Fairy
Name: 225, dtype: object
226 Name     Granbull
Type1       Fairy
Name: 226, dtype: object
227 Name     Qwilfish
Type1       Water
Name: 227, dtype: object
228 Name     Scizor
Type1       Bug
Name: 228, dtype: object
229 Name     ScizorMega Scizor
Type1                  Bug
Name: 229, dtype: object
230 Name     Shuckle
Type1        Bug
Name: 230, dtype: object
231 Name     Heracross
Type1          Bug
Name: 231, dtype: object
232 Name     HeracrossMega Heracross
Type1                        Bug
Name: 232, dtype: object
233 Name     Sneasel
Type1       Dark
Name: 233, dtype: object
234 Name     Teddiursa
Type1       Normal
Name: 234, dtype: object
235 Name     Ursaring
Type1      Normal
Name: 235, dtype: object
236 Name     Slugma
Type1      Fire
Name: 236, dtype: object
237 Name     Magcargo
Type1        Fire
Name: 237, dtype: object
238 Name     Swinub
Type1       Ice
Name: 238, dtype: object
239 Name     Piloswine
Type1          Ice
Name: 239, dtype: object
240 Name     Corsola
Type1      Water
Name: 240, dtype: object
241 Name     Remoraid
Type1       Water
Name: 241, dtype: object
242 Name     Octillery
Type1        Water
Name: 242, dtype: object
243 Name     Delibird
Type1         Ice
Name: 243, dtype: object
244 Name     Mantine
Type1      Water
Name: 244, dtype: object
245 Name     Skarmory
Type1       Steel
Name: 245, dtype: object
246 Name     Houndour
Type1        Dark
Name: 246, dtype: object
247 Name     Houndoom
Type1        Dark
Name: 247, dtype: object
248 Name     HoundoomMega Houndoom
Type1                     Dark
Name: 248, dtype: object
249 Name     Kingdra
Type1      Water
Name: 249, dtype: object
250 Name     Phanpy
Type1    Ground
Name: 250, dtype: object
251 Name     Donphan
Type1     Ground
Name: 251, dtype: object
252 Name     Porygon2
Type1      Normal
Name: 252, dtype: object
253 Name     Stantler
Type1      Normal
Name: 253, dtype: object
254 Name     Smeargle
Type1      Normal
Name: 254, dtype: object
255 Name      Tyrogue
Type1    Fighting
Name: 255, dtype: object
256 Name     Hitmontop
Type1     Fighting
Name: 256, dtype: object
257 Name     Smoochum
Type1         Ice
Name: 257, dtype: object
258 Name       Elekid
Type1    Electric
Name: 258, dtype: object
259 Name     Magby
Type1     Fire
Name: 259, dtype: object
260 Name     Miltank
Type1     Normal
Name: 260, dtype: object
261 Name     Blissey
Type1     Normal
Name: 261, dtype: object
262 Name       Raikou
Type1    Electric
Name: 262, dtype: object
263 Name     Entei
Type1     Fire
Name: 263, dtype: object
264 Name     Suicune
Type1      Water
Name: 264, dtype: object
265 Name     Larvitar
Type1        Rock
Name: 265, dtype: object
266 Name     Pupitar
Type1       Rock
Name: 266, dtype: object
267 Name     Tyranitar
Type1         Rock
Name: 267, dtype: object
268 Name     TyranitarMega Tyranitar
Type1                       Rock
Name: 268, dtype: object
269 Name       Lugia
Type1    Psychic
Name: 269, dtype: object
270 Name     Ho-oh
Type1     Fire
Name: 270, dtype: object
271 Name      Celebi
Type1    Psychic
Name: 271, dtype: object
272 Name     Treecko
Type1      Grass
Name: 272, dtype: object
273 Name     Grovyle
Type1      Grass
Name: 273, dtype: object
274 Name     Sceptile
Type1       Grass
Name: 274, dtype: object
275 Name     SceptileMega Sceptile
Type1                    Grass
Name: 275, dtype: object
276 Name     Torchic
Type1       Fire
Name: 276, dtype: object
277 Name     Combusken
Type1         Fire
Name: 277, dtype: object
278 Name     Blaziken
Type1        Fire
Name: 278, dtype: object
279 Name     BlazikenMega Blaziken
Type1                     Fire
Name: 279, dtype: object
280 Name     Mudkip
Type1     Water
Name: 280, dtype: object
281 Name     Marshtomp
Type1        Water
Name: 281, dtype: object
282 Name     Swampert
Type1       Water
Name: 282, dtype: object
283 Name     SwampertMega Swampert
Type1                    Water
Name: 283, dtype: object
284 Name     Poochyena
Type1         Dark
Name: 284, dtype: object
285 Name     Mightyena
Type1         Dark
Name: 285, dtype: object
286 Name     Zigzagoon
Type1       Normal
Name: 286, dtype: object
287 Name     Linoone
Type1     Normal
Name: 287, dtype: object
288 Name     Wurmple
Type1        Bug
Name: 288, dtype: object
289 Name     Silcoon
Type1        Bug
Name: 289, dtype: object
290 Name     Beautifly
Type1          Bug
Name: 290, dtype: object
291 Name     Cascoon
Type1        Bug
Name: 291, dtype: object
292 Name     Dustox
Type1       Bug
Name: 292, dtype: object
293 Name     Lotad
Type1    Water
Name: 293, dtype: object
294 Name     Lombre
Type1     Water
Name: 294, dtype: object
295 Name     Ludicolo
Type1       Water
Name: 295, dtype: object
296 Name     Seedot
Type1     Grass
Name: 296, dtype: object
297 Name     Nuzleaf
Type1      Grass
Name: 297, dtype: object
298 Name     Shiftry
Type1      Grass
Name: 298, dtype: object
299 Name     Taillow
Type1     Normal
Name: 299, dtype: object
300 Name     Swellow
Type1     Normal
Name: 300, dtype: object
301 Name     Wingull
Type1      Water
Name: 301, dtype: object
302 Name     Pelipper
Type1       Water
Name: 302, dtype: object
303 Name       Ralts
Type1    Psychic
Name: 303, dtype: object
304 Name      Kirlia
Type1    Psychic
Name: 304, dtype: object
305 Name     Gardevoir

# Consultas

In [58]:
pokemon.describe()

,Num,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [59]:
# La sentencia .loc (locate)

#pokemon.loc[pokemon['Type1'] == 'Grass']
pokemon.loc[(pokemon['Type1'] == 'Grass') & (pokemon['Type2'] == 'Poison')]

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,...,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,...,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,...,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,...,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
344,315,Roselia,Grass,Poison,50,...,100,80,65,3,False
451,406,Budew,Grass,Poison,40,...,50,70,55,4,False
452,407,Roserade,Grass,Poison,60,...,125,105,90,4,False
651,590,Foongus,Grass,Poison,69,...,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,114,...,85,80,30,5,False

In [60]:
# Ordenar tablas

pokemon.sort_values('Defense', ascending=False).head()

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,20,...,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,75,...,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,70,...,60,80,50,3,False
223,208,Steelix,Steel,Ground,75,...,55,65,30,2,False
414,377,Regirock,Rock,NaN,80,...,50,100,50,3,True

In [61]:
ghost_pks = pokemon.loc[pokemon['Type1'] == 'Ghost'].sort_values(['Generation', 'Speed'], ascending=False)

ghost_pks = ghost_pks.reset_index(drop=True)

#ghost_pks.drop(columns=['index'])

ghost_pks

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
0,711,GourgeistSmall Size,Ghost,Grass,55,...,58,75,99,6,False
1,711,GourgeistAverage Size,Ghost,Grass,65,...,58,75,84,6,False
2,711,GourgeistLarge Size,Ghost,Grass,75,...,58,75,69,6,False
3,709,Trevenant,Ghost,Grass,85,...,65,82,56,6,False
4,710,PumpkabooSmall Size,Ghost,Grass,44,...,44,55,56,6,False
...,...,...,...,...,...,...,...,...,...,...,...
27,200,Misdreavus,Ghost,NaN,60,...,85,85,85,2,False
28,94,GengarMega Gengar,Ghost,Poison,60,...,170,95,130,1,False
29,94,Gengar,Ghost,Poison,60,...,130,75,110,1,False
30,93,Haunter,Ghost,Poison,45,...,115,55,95,1,False
31,92,Gastly,Ghost,Poison,30,...,100,35,80,1,False

In [62]:
pokemon.loc[~pokemon['Name'].str.contains('Mega')]

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,...,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,...,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,...,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,...,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,...,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,...,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,...,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,...,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,...,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,...,130,90,70,6,True

In [63]:
# Hacer consultas de cadenas de texto usando expresiones regulares
import re 

pokemon.loc[pokemon['Name'].str.contains('f.a+', regex=True, flags = re.I)]

,Num,Name,Type1,Type2,HP,...,SpAtk,SpDef,Speed,Generation,Legendary
27,22,Fearow,Normal,Flying,65,...,61,61,100,1,False
147,136,Flareon,Fire,NaN,65,...,95,110,65,1,False
187,173,Cleffa,Fairy,NaN,50,...,45,55,15,2,False
194,180,Flaaffy,Electric,NaN,70,...,80,60,45,2,False
672,611,Fraxure,Dragon,NaN,66,...,40,50,67,5,False
687,626,Bouffalant,Normal,NaN,95,...,40,95,55,5,False
731,663,Talonflame,Fire,Flying,78,...,74,69,126,6,False
737,669,FlabÃ©bÃ©,Fairy,NaN,44,...,61,79,42,6,False

# Editar columnas

In [64]:
pokemon["Attack-Defense Ratio"] = pokemon["Attack"]/pokemon["Defense"]

In [65]:
pokemon

,Num,Name,Type1,Type2,HP,...,SpDef,Speed,Generation,Legendary,Attack-Defense Ratio
0,1,Bulbasaur,Grass,Poison,45,...,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,60,...,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,80,...,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,39,...,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,...,150,50,6,True,0.666667
796,719,DiancieMega Diancie,Rock,Fairy,50,...,110,110,6,True,1.454545
797,720,HoopaHoopa Confined,Psychic,Ghost,80,...,130,70,6,True,1.833333
798,720,HoopaHoopa Unbound,Psychic,Dark,80,...,130,80,6,True,2.666667
799,721,Volcanion,Fire,Water,80,...,90,70,6,True,0.916667

In [67]:
pokemon.loc[pokemon['Type1'] == 'Poison', 'Type1'] = 'Venom'
pokemon.head(100)

,Num,Name,Type1,Type2,HP,...,SpDef,Speed,Generation,Legendary,Attack-Defense Ratio
0,1,Bulbasaur,Grass,Poison,45,...,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,60,...,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,80,...,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,39,...,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...
95,88,Grimer,Venom,NaN,80,...,50,25,1,False,1.600000
96,89,Muk,Venom,NaN,105,...,100,50,1,False,1.400000
97,90,Shellder,Water,NaN,30,...,25,40,1,False,0.650000
98,91,Cloyster,Water,Ice,50,...,45,70,1,False,0.527778
99,92,Gastly,Ghost,Poison,30,...,35,80,1,False,1.166667

In [73]:
pokemon.loc[pokemon['SpAtk'] >= 130, 'Legendary'] = True
pokemon.head(50)

,Num,Name,Type1,Type2,HP,...,SpDef,Speed,Generation,Legendary,Attack-Defense Ratio
0,1,Bulbasaur,Grass,Poison,45,...,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,60,...,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,80,...,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,39,...,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...
45,40,Wigglytuff,Normal,Fairy,140,...,50,45,1,False,1.555556
46,41,Zubat,Venom,Flying,40,...,40,55,1,False,1.285714
47,42,Golbat,Venom,Flying,75,...,75,90,1,False,1.142857
48,43,Oddish,Grass,Poison,45,...,65,30,1,False,0.909091
49,44,Gloom,Grass,Poison,60,...,75,40,1,False,0.928571

In [74]:
pokemon.loc[pokemon['Type1'] == 'Water', ['HP', 'Attack']] = [0, -1]
pokemon.head(100)

,Num,Name,Type1,Type2,HP,...,SpDef,Speed,Generation,Legendary,Attack-Defense Ratio
0,1,Bulbasaur,Grass,Poison,45,...,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,60,...,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,80,...,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,39,...,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...
95,88,Grimer,Venom,NaN,80,...,50,25,1,False,1.600000
96,89,Muk,Venom,NaN,105,...,100,50,1,False,1.400000
97,90,Shellder,Water,NaN,0,...,25,40,1,False,0.650000
98,91,Cloyster,Water,Ice,0,...,45,70,1,False,0.527778
99,92,Gastly,Ghost,Poison,30,...,35,80,1,False,1.166667

In [75]:
pokemon['Speed'].apply(lambda x : x/2).head(100)
#pokemon['Speed'].head(10)

0     22.5
1     30.0
2     40.0
3     40.0
4     32.5
      ...
95    12.5
96    25.0
97    20.0
98    35.0
99    40.0
Name: Speed, Length: 100, dtype: float64

In [76]:
pokemon.loc[pokemon['Name'].str.contains('Mega')]['Name'].apply(lambda x : 'Mega ' + x.split(' ')[1] if x != 'Meganium' else x)

3       Mega Venusaur
7      Mega Charizard
8      Mega Charizard
12     Mega Blastoise
19      Mega Beedrill
            ...
498      Mega Lucario
511    Mega Abomasnow
527      Mega Gallade
591       Mega Audino
796      Mega Diancie
Name: Name, Length: 49, dtype: object

#Agregar columnas

In [78]:
pokemon['Total Defense'] = pokemon['Defense'] + pokemon['SpDef']
#pokemon = pokemon.drop(columns='Total Defense')
pokemon.head(10)

,Num,Name,Type1,Type2,HP,...,Speed,Generation,Legendary,Attack-Defense Ratio,Total Defense
0,1,Bulbasaur,Grass,Poison,45,...,45,1,False,1.000000,114
1,2,Ivysaur,Grass,Poison,60,...,60,1,False,0.984127,143
2,3,Venusaur,Grass,Poison,80,...,80,1,False,0.987952,183
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,80,1,False,0.813008,243
4,4,Charmander,Fire,NaN,39,...,65,1,False,1.209302,93
5,5,Charmeleon,Fire,NaN,58,...,80,1,False,1.103448,123
6,6,Charizard,Fire,Flying,78,...,100,1,False,1.076923,163
7,6,CharizardMega Charizard X,Fire,Dragon,78,...,100,1,True,1.171171,196
8,6,CharizardMega Charizard Y,Fire,Flying,78,...,100,1,True,1.333333,193
9,7,Squirtle,Water,NaN,0,...,43,1,False,0.738462,129

In [79]:
# Reajuste de columnas
cols = list(pokemon.columns)

pokemon = pokemon[cols[0:9] + [cols[-1]] + cols[9:12]]
pokemon.head()

,Num,Name,Type1,Type2,HP,...,SpDef,Total Defense,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,...,65,114,45,1,False
1,2,Ivysaur,Grass,Poison,60,...,80,143,60,1,False
2,3,Venusaur,Grass,Poison,80,...,100,183,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,120,243,80,1,False
4,4,Charmander,Fire,NaN,39,...,50,93,65,1,False

In [80]:
pokemon['Total total'] = pokemon.iloc[:, 4:11].sum(axis = 1)
pokemon.head()

,Num,Name,Type1,Type2,HP,...,Total Defense,Speed,Generation,Legendary,Total total
0,1,Bulbasaur,Grass,Poison,45,...,114,45,1,False,432
1,2,Ivysaur,Grass,Poison,60,...,143,60,1,False,548
2,3,Venusaur,Grass,Poison,80,...,183,80,1,False,708
3,3,VenusaurMega Venusaur,Grass,Poison,80,...,243,80,1,False,868
4,4,Charmander,Fire,NaN,39,...,93,65,1,False,402

# Estadísticas de agregado (groupby)

In [89]:
pokemon.groupby(['Type1', 'Type2']).mean(numeric_only=True).sort_values('Defense', ascending=False)

,,Num,HP,Attack,Defense,SpAtk,...,Total Defense,Speed,Generation,Legendary,Total total
Type1,Type2,,,,,,,,,,,
Steel,Ground,208.000000,75.000000,105.000000,215.000000,55.000000,...,295.0,30.000000,2.0,0.0,855.000000
Ground,Fire,383.000000,100.000000,180.000000,160.000000,150.000000,...,250.0,90.000000,3.0,1.0,1020.000000
Bug,Rock,442.666667,46.666667,56.666667,146.666667,36.666667,...,260.0,35.000000,4.0,0.0,695.000000
Rock,Steel,432.333333,50.000000,49.666667,143.666667,54.666667,...,269.0,33.333333,4.0,0.0,725.666667
Steel,Rock,305.000000,60.000000,90.000000,140.000000,50.000000,...,190.0,40.000000,3.0,0.0,620.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
Bug,Ghost,292.000000,1.000000,90.000000,45.000000,30.000000,...,75.0,40.000000,3.0,0.0,311.000000
Electric,Normal,694.500000,53.000000,46.500000,42.500000,85.000000,...,111.0,89.500000,6.0,0.0,496.000000
Ghost,Flying,425.500000,120.000000,65.000000,39.000000,75.000000,...,88.0,75.000000,4.0,0.0,511.000000
Bug,Water,283.000000,40.000000,30.000000,32.000000,50.000000,...,84.0,65.000000,3.0,0.0,353.000000
Ice,Psychic,181.000000,55.000000,40.000000,25.000000,100.000000,...,105.0,80.000000,1.5,0.0,485.000000

In [93]:
pokemon.groupby(['Type1', 'Type2']).count()

                Num  Name  HP  Attack  Defense  ...  Total Defense  Speed  \
Type1 Type2                                     ...
Bug   Electric    2     2   2       2        2  ...              2      2
      Fighting    2     2   2       2        2  ...              2      2
      Fire        2     2   2       2        2  ...              2      2
      Flying     14    14  14      14       14  ...             14     14
      Ghost       1     1   1       1        1  ...              1      1
...             ...   ...  ..     ...      ...  ...            ...    ...
Water Ice         3     3   3       3        3  ...              3      3
      Poison      3     3   3       3        3  ...              3      3
      Psychic     5     5   5       5        5  ...              5      5
      Rock        4     4   4       4        4  ...              4      4
      Steel       1     1   1       1        1  ...              1      1

                Generation  Legendary  Total total
Type1 Type2
Bug   Electric           2          2            2
      Fighting           2          2            2
      Fire               2          2            2
      Flying            14         14           14
      Ghost              1          1            1
...                    ...        ...          ...
Water Ice                3          3            3
      Poison             3          3            3
      Psychic            5          5            5
      Rock               4          4            4
      Steel              1          1            1

[136 rows x 12 columns]

In [94]:
type_stats = pokemon.groupby(['Type1']).sum()

# Guardar

In [95]:
type_stats.to_csv("type_stats.csv")
ghost_pks.to_excel("ghost_pokemons.xlsx")